/**
  * text: #000 (black)
  * background: #FFF (white)
  * light-fill: #EEE
  * conrast-fill: #DDD
  * passive-cell: #AAA
  * border: #CCC
  * link: #00D
  * 
  **/
/* =general
*********************************************************************/

html, body { 
  margin: 0;
  padding: 0;
  font-size: .905em;
  line-height: 1.5em;
  font-family: arial, sans-serif;
  background:#efefef;
}

.section-inside #content {
	margin-top:0;
}

#header .site-title,#content-wrap,#footer {
    width:1000px;
    margin:auto;
    display:block;
}

img { 
  border: none;
  display: block;
}

td img {
	display: inline;
}

.mceEditor img { 
  display: inline;  
}

p { 
  margin: 0 0 5px 0;
  padding: 0;
}

em { 
  font-style: italic;
}

strong, p.strong { 
  font-weight: bolder;
}


/* =links
*********************************************************************/

a { 
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #00D;
}

a:hover { 
  text-decoration: underline;
}

a:visited { 
  color: #00D;
}

th a { 
  color: #000;
}

th a:visited { 
  color: #000;
}

.optionsMenu a, a.button, span.button, label.button { 
  border: 1px solid #CCC;
  background: #DDD;
  padding: 1px 5px;
  margin: 3px 0;
  letter-spacing: 1px;
  color: #000;
  font-weight: bold;
  white-space: nowrap;
}

a.read { 
  font-weight: normal;
}

a.unread { 
  font-weight: bold;
}

a.skip-nav { 
  display: none;
}

a.contact { 
  background: url("../inside/graphics/user_go.png") no-repeat right;
  padding-right: 20px;
}
/* =lists
*********************************************************************/

ul { 

}

li { 

}

ul.linker, .linker li { 
  margin: 0;
  padding: 0;
  list-style: none;
}

/* =forms
*********************************************************************/

form { 
  margin: 0;
  padding: 0;
}

textarea, input { 
  font-family: arial, sans-serif;
  line-height: 1.2em;
  font-size: 1em;
  margin: 2px 0;
}

form .title {
  font-size: 16px;
  font-weight: bold; 
}

textarea:focus, input:focus { 
  background: #FFD;
}

.readonly { 
  background: inherit;
  border: none;
}

fieldset { 
  width: 90%;
  max-width: 600px;
  padding: 15px;
  border: 3px solid #CCC;
}

fieldset label { 
  font-weight: bold;
}

legend { 
  font-weight: bold;
  padding: 0 5px;
  color: black;
}

fieldset input, fieldset select, fieldset textarea { 
  margin: 0 15px;
}

input.submit { 
  margin: 0px;
  width: 100px;
}

div.horizontal-form { 
  padding: 3px;
  margin: 5px 0;
  background: #EEE;
  border: 1px solid #CCC;
  font-weight: bold;
}

.delete { 
  text-align: right;
  color: red;
  font-weight: bold;
}

.formHelp {
  cursor: help;
}

.formHelpMessage {
  background: #FFD;
  border: 1px solid black;
  font-size: 11px;
  padding: 3px 3px 3px 20px;
  max-width: 300px;  
}

.helpMessageClose {
  border: 1px solid black;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0 2px;
  line-height: 1em;
  cursor: pointer;
  background: red;
  color: white;
  font-weight: bold;
}

/* =tables
*********************************************************************/

table { 
  display: block;
  float:left;
  margin: 0;
  padding: 0;
  border: 1px solid #CCC;
}

#inside-content-column table {
  width:630px;
}

#inside-content-column table td {
	padding:3px 5px;
}
#inside-content-column table.calendar td {
	padding:0;
}

th { 
  padding: 0 5px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  background: #DDD;
}

tr { 
  padding: 0px;
  margin: 0px;
}

td { 
  vertical-align: top;
  padding: 0px 5px;
  background: #EEE;
}

td.label { 
  font-weight: bold;
  text-align: right;
}

td.number { 
  text-align: right;
}

td.phone {
  white-space: nowrap;
}

td.date { 
  white-space: nowrap;
}

td.is_member{ 
  text-align: center;
}

td.edit,
td.delete {
	min-width:16px;
}

tr.table-footer td {
  font-weight: bold;
  text-align: center;
}

table.calendar { 
  display:block;
  float:left;
  /*margin: 0 50px 0 0;*/
  font-size: .85em;
}

.calendar td { 
  padding: 0;
  margin: 0;
  max-width: 100px;
  overflow:auto;
}

td.passive { 
  background: #AAA;
}

td.weekNumber { 
  background: #DDD;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

div.calendar-event, label.calendar-event.button {
  background: #CCC;  
}

div.calendar-concert, label.calendar-concert.button {
  background: #DDD;  
}

.calendar td div { 
  padding: 2px 1px;
  margin: 1px;
  line-height: 1em;
  border-bottom: 1px dotted #000;
}

td h4 { 
  text-align: right;
}

th a { 
  display: block;
}

table.sortable tr:hover td { 
  background: #DDD;
}

td.unread { 
  text-align: center;
  font-size: 1.8em;
  line-height: 0.1em;
  padding: 15px 5px 0px 3px;
}

/* =tables
*********************************************************************/
#inside-content-column.info ul li.alt {
	width:627px;
}

/* =headings
*********************************************************************/

h1, h2, h3, h4, h5, h6 { 
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

h1 { 
  font-size: 2em;
}

h2 { 
  font-size: 1.5em;
  text-align: center;
}

h3 { 
  font-size:1.2em;
}

h4 { 
  font-size: 1em;
  font-weight: bold;
}

/* =navigation
 *********************************************************************/


#nav {
    float: left;
    background-color: #EEE;
    border: 1px solid #CCC;
    -moz-border-radius: 8px;
    color: #000;
    width: 170px;
    margin: 50px 25px;
    padding: 15px;
}

#navList {
    margin: 0px;
    padding: 0px;
}

li.menulist {
    background: url(../inside/graphics/minus.png) no-repeat 3px 0.3em;
    line-height: 1.2em;
    list-style: none outside;
    margin: 0px 0 10px;
    padding: 2px 10px;
    border: 1px solid black;
}

.jsenabled li.menulist { 
    background: url(../inside/graphics/plus.png) no-repeat 3px 0.3em;
}

.jsenabled .menu, .jsenabled .submenu {
    display: none;
}

.menu, .submenu {
    margin: 0px;
    padding: 0px;
}

.menu li, .submenu li {
    background: #EEE;
    list-style: none outside;
    margin: 3px 5px;
    padding: 0px 3px;
    border: 1px dotted #CCC;
}

.menu li:hover, .submenu li:hover {
    background: #DDD;
}

#nav li a { 
    color: black;
}

a.switch {
    background-color: transparent;
    color: #000;
    font-size: .9em;
    line-height: 1em;
    padding-left: 5px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

a.switch:hover {
    text-decoration: underline;
}

.menu li a, .submenu li a {
    display: block;
    background-color: transparent;
    color: #000;
    text-decoration: none;
}

.menu li a:hover, submenu li a:hover {
    text-decoration: underline;
}

span.key {
    text-decoration: underline;
}

#calHeader { 
    width: 400px;
    margin: auto;
}

#previous { 
    float: left;
    margin: 0px;
}

#next { 
    float: right;
    margin: 0px;
}

#previous a, #next a { 
    border: 1px solid #CCC;
    font-weight: bold;
    padding: 0 5px;
    margin: 0px;
    line-height: 1em;
    background: #DDD;
    color: #000;
}

/* =content
 *********************************************************************/
#content { 
    padding: 0px;
    margin: 5px 0 15px 207px;
}

#content #inside-content-column {
	width:648px;
	margin:50px 25px;
	float:left;
}

#content .contentElem {
    margin:auto;
    overflow:hidden;
    clear:left;
}

div.text-column { 
    margin:auto;
    float:left;
}

* html div.text-column { 
    margin:auto;
    float:left;
}

div.article_images {
    float: right;
    margin: 0px 0px 3px 3px;
    width: 200px;    
}
div.article_images div {
    border: 1px dotted #ccc;
}
/*div.primary_image {
float: right;
margin: 0px 0px 3px 3px;
width: 200px;    
border: 1px dotted #ccc;
}
 */
span.caption {
    font-size: 11px;
    font-style: italic;
}

/*div.extra_image {
float: left;
margin: 0px 3px 3px 0px;        
width: 200px;    
border: 1px dotted #ccc;
}*/

p.date { 
    font-style: italic;
}

p.date:first-letter { 
    text-transform: uppercase;
}

p.subtitle {
    font-style: italic;
}

p.intro { 
    font-weight: bold;
    font-style: italic;
}

div.messages, div.errors { 
    margin: 0 0 25px 0;
    padding: 10px 0;
    background: #6B43A2;
    color: #FFF;
    border: 1px solid #CCC;
    font-size:20px;
}

div.messages ul, div.erros ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

.section-inside .messages.fancybox {
	width:100%;
}

div.timeData { 
    border: 1px solid #CCC;
    background: #EEE;
    padding: 1px;
}

div.optionsMenu { 
    margin: 5px 0;
}

div.product {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

div.product_images {
    float: right;
}

tr.barshift-full td {
    /*background: #AAA;*/
    font-style: italic;  
}

td.worker-status {
    text-align: center;
    font-weight: bold;
}

div.calendar-barshift {
    border: 1px solid #CCC;  
}

div.calendar-barshift.full {
    border: 1px solid #CCC;
    background: #efefef;  
}

div.calendar-barshift h4 {
    text-align: left;
    /*white-space: nowrap;*/
    font-size:12px;
    font-weight:bold;
    display:list-item;
    list-style-type:none;
    max-width:100%;
}

div.calendar-barshift ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.calendar-register-me {
    border: 1px solid black;
    padding: 1px;
    /*width: 50%;*/
    color: black;
    margin: 0px;
    display: block;
    text-align: center;
    background: #DDD;
}

div.calendar-barshift li {
    /*white-space: nowrap;*/
    margin: 0 0 5px;
    padding: 0;
}

div.comments { 
    border-top: 2px solid #CCC;

}

div.comment { 
    border-top: 2px solid #CCC;
    padding: 5px 0;
    position: relative;
}

div.comment-meta { 
    position: absolute;

}

div.comment-main { 
    margin-left: 150px;
    min-height: 60px;
    border-left: 2px dotted #CCC;
    padding-left: 5px;
}

* html div.comment-main { 
    height: 60px;
}

.clear-right {
    clear: right;  
}
/* =footer
 *********************************************************************/
#footer { 
    clear: both;
    text-align: center;
    background: #EEE;
    border: 1px solid #CCC;
    -moz-border-radius: 8px;
    color: #000;
    margin-top: 0px;
}



/* =extras
 *********************************************************************/
.domenabled ul#finder, .domenabled ul#finder li, .domenabled ul#finder ul {
    list-style-type:none;
    margin: 5px 0;
    padding:0;
    line-height: 1em;
}

.domenabled ul#finder ul.hidden {
    display: none;
}
.domenabled ul#finder ul.shown {
    margin: 3px 25px;
    display: block;
}

.domenabled ul#finder li a {
}

.domenabled #finder a.open {
    font-weight: bold;
    display: block;
    color: black;
}

.domenabled #finder a.parent {
    color: black;
}


.domenabled div.disabled { 
    display: none;
}

/* =icons
 *********************************************************************/
.icon-16x16 {
	width:16px !important;
	height:16px;
	border:none;
}
